<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <h1 id="about" class="heading">About</h1>
    <img src="images/morseheader.jpeg" id="steve-morse" alt="steve morse">

    <div class="content">
        <p>Steve J. Morse (born July 28, 1954) is an American guitarist, best known as the founder of the Dixie Dregs
            and as
            the lead guitarist of Deep Purple from 1994 to 2022. Morse has also enjoyed a successful solo career and was
            briefly a member of the group Kansas in the mid-1980s. Most recently, Morse became a member of the
            supergroup
            Flying Colors.</p>

        <h3>Influence and technique</h3>
        <p>Morse is considered one of the hardest working guitarists in the world.[14] He is widely known for his
            stylistically diverse compositional skills and was voted "Best Overall Guitarist" by Guitar Player magazine
            for
            five years in a row,[15] qualifying him for its "Guitar Player Hall of Fame", the only other members being
            Steve
            Howe of Yes and Eric Johnson. He is regularly cited by John Petrucci as a major influence. Guitarist Shawn
            Lane
            regarded Steve Morse as one of the most talented guitarists of his time.[16] Ritchie Blackmore, who preceded
            Morse in Deep Purple, has stated, "Steve Morse is an incredible player. A lot of people try to get some
            wisecrack out of me, but when you're talking about guitar players along Morse's caliber, they're
            brilliant."[17]
            Morse has proven himself throughout his career as capable of playing highly complex chord structures in
            classical sequences, as well as being able to play fast, alternate picked arpeggios. He is well known for
            using
            harmonics and improvising them in songs during live performances, such as in Deep Purple's "Sometimes I Feel
            Like Screaming".</p>
    </div>
    <a href="/home" class="return-to-home-page">back to home</a>
</body>

</html>