<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <ul>
        <li class="list"><a href="/home" class="link">Home</a></li>
        <li class="list"><a href="/about" class="link">About</a></li>
        <li class="list"><a href="/works" class="link">Works</a></li>
        <li class="list"><a href="/works" class="link">Gallery</a></li>

    </ul>

    <img src="/images/guitar.png" id="guitar" alt="">
    <h4>Steve Morse</h4>

</body>

</html>