<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>

<body>
    <h1 class="heading">Works</h1>

    <div class="content">
        <h3>Deep Purple</h3>
        <p>In 1994, Morse joined the British hard rock group Deep Purple, replacing Ritchie Blackmore (after Joe
            Satriani
            had
            initially replaced Blackmore on a temporary basis, for the final leg of The Battle Rages On tour in Japan,
            and
            European dates the following summer). With 28 years as a member of the band, Morse was their longest-serving
            guitarist and played on eight studio albums with them, between 1996's Purpendicular and 2021's Turning to
            Crime,
            and appeared on several live albums.

            His departure from Deep Purple was announced on 23 July 2022, and driven by the illness of his wife Janine
        </p>

        <h3>Living Loud</h3>
        <p>In addition to playing with Deep Purple, Morse, together with Jimmy Barnes, Bob Daisley, Lee Kerslake and Don
            Airey, formed Living Loud in 2003. The group released one studio album and a live DVD in 2004/2005. In
            Spring
            2010 it was reported that Steve Morse and Bob Daisley started work on a new studio album which was set for a
            release in 2011, but nothing came of this.</p>

        <h3>Angelfire</h3>
        <p>Morse began a collaboration with singer Sarah Spencer in 2007 entitled Angelfire. The album, of the same
            name,
            was released on August 10, 2010, on Radiant Records. The album features Dave LaRue and Van Romaine of the
            Steve
            Morse Band on bass and drums, respectively. The album has a textural, acoustic sound that differs from
            Morse's
            previous work. Angelfire opened for the Steve Morse Band for several shows in California (January) and
            Florida
            (March) of 2010.</p>
    </div>

    <a href="/home" class="return-to-home-page">back to home</a>
</body>

</html>